{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% load static %}
{% block content %}
<div class="flex flex-col justify-center py-12 px-4">
  <div class="mx-auto w-full max-w-xl">
    <img src="{% static 'images/logo-psf.png' %}" class="mx-auto h-16 w-16 rounded-full border border-gray-300 shadow-sm">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Reset Your Password</h2>
    <p class="mt-2 text-center text-gray-600">Enter your email to receive reset instructions</p>
  </div>

  <div class="mt-8 mx-auto w-full" style="min-width: 450px; !important;">
    <div class="bg-white py-8 px-8 shadow-xl rounded-lg">
      <form method="post">
        {% csrf_token %}
        <div class="mb-6">
          {{ form.email.label }}
          <div class="mt-1">
            {{ form.email }}
          </div>
          {% if form.email.errors %}
            <div class="text-red-500 text-sm">{{ form.email.errors|join:", " }}</div>
          {% endif %}
        </div>

        <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700">
          Send Reset Link
        </button>

        <div class="mt-6 text-center">
          <a href="{% url 'user_login' %}" class="text-blue-500 hover:text-blue-600">Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}