{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}
{% load static %}
{% block content %}
<div class="flex flex-col justify-center py-12 px-4">
  <div class="mx-auto w-full max-w-xl">
    <img src="{% static 'images/logo-psf.png' %}" class="mx-auto h-16 w-16 rounded-full border border-blue-800 shadow-sm">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-300">Set New Password</h2>
  </div>

  <div class="mt-8 mx-auto w-full" style="min-width: 450px; !important;">
    <div class="bg-gray-800 py-8 px-8 shadow-xl rounded-lg">
      {% if form %}
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="mb-6 text-gray-400">
            {{ field.label }}
            <div class="mt-1">
              {{ field }}
            </div>
            {% if field.errors %}
              <div class="text-red-500 text-sm">{{ field.errors|join:", " }}</div>
            {% endif %}
          </div>
          {% endfor %}

          <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700">
            Reset Password
          </button>
        </form>
      {% else %}
        <div class="text-red-500 text-center p-4">
          Invalid or expired password reset link. Please request a new password reset.
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}