<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load socialaccount %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
    <div class="container mx-auto px-4 h-screen flex items-center justify-center">
        <div class="w-full max-w-md">
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="px-6 py-4 bg-gray-800 text-white text-center">
                    <h3 class="text-2xl font-bold">User Login</h3>
                </div>
                <div class="p-6">
                    <form method="post" class="space-y-4">
                        {% csrf_token %}
                        <div>
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div>
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300">
                            Login
                        </button>
                    </form>
                </div>
                <div class="px-6 py-4 bg-gray-100 text-center">
                    <p class="text-sm">Don't have an account? <a href="{% url 'register' %}" class="text-blue-500 hover:text-blue-600">Create User Account</a></p>
                    <p class="text-sm mt-2"><a href="{% url 'service_provider_login' %}" class="text-blue-500 hover:text-blue-600">Login as Service Provider</a></p>
                </div>
                <div class="text-center">
                    <p class="text-sm">Or login with:</p>
                    <a href="{% provider_login_url 'google' %}" class="text-blue-500 hover:text-blue-600">
                        Login with Google
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>