<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Public Service Finder{% endblock %}</title>
    
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    
    <!-- FontAwesome for icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Leaflet CSS for map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    {% block head %}{% endblock %}
    <style>
        body {
            background-color: #121212;
            color: #e0e0e0;
        }
    </style>
</head>
<body class="bg-gray-900 text-gray-100 min-h-screen flex flex-col justify-between">
    {% load static %}
    <!-- Navbar (included as a partial) -->
    {% include 'partials/_navbar.html' %}

    {% include 'partials/_breadcrumbs.html' %}

    <!-- Main Content -->
    <main class="mx-auto flex-grow">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer (included as a partial) -->
    {% include 'partials/_footer.html' %}

    <!-- JavaScript files -->
    <script src="{% static 'js/nav.js' %}"></script>

    <!-- Include Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Include Moment.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    {% comment %} URL/APP specific JS files{% endcomment %}

    {% if request.path == "/home/" %}

        <script>

            window.itemsData = {{ serialized_items|safe }};

        </script>

        <script src="{% static 'apps/home/js/map.js' %}"></script>

    {% endif %}

    <!-- Include Chart.js library (UMD build) -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

    <!-- Include Chart.js date adapter for Moment.js -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.1/dist/chartjs-adapter-moment.min.js"></script>

    <!-- Include D3.js and D3 Cloud -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>

    <!-- Custom JavaScript files -->
    <script src="{% static 'js/nav.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
